#root {
  position: relative;
  max-width: 1280px;
  margin: 20px auto;
  border: 5px solid rgb(244, 163, 41);
  border-radius: 10px;
  background-image: url(../assets/images/minimal-abstract.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
