.header {
  width: 45rem;
  //   height: 3rem;
  line-height: 3rem;
  text-align: center;
  padding: 1px;
  border-bottom-style: double;
  border-color: brown;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
}
