.css-xdmu94-MuiContainer-root,
.css-1c0cfyw {
  width: auto !important;
  display: inline-block !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgb(151, 45, 45) !important;
}
